*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-size: x-large;
    font-weight: bolder;

    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        list-style-type: none;  
        padding-right: 35px;
    }

    nav ul li a{
        padding: 23px;
    }

    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: blue;   
    }
}
section{
    display: flex;
}
.introducao{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding-top: 140px;
    .espaco{
        margin-left: 8vw;
        padding: 12px;
        justify-content: left;
    }
}

figure img{
    margin-left: 45px;
    border-radius: 8%;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 18vw;
    padding-top: 130px;
    padding-bottom: 5vw;
    a{     
        padding-right: 28px;
    }
}




